<div class="footer" style="box-sizing: border-box; clear: both; width: 100%">
  <table
    style="
      box-sizing: border-box;
      width: 100%;
      border-spacing: 0;
      mso-table-rspace: 0pt;
      mso-table-lspace: 0pt;
      font-size: 12px;
      border-collapse: separate !important;
    "
    width="100%"
  >
    <tbody>
      <tr style="font-size: 12px">
        <td
          align="center"
          class="align-center"
          style="
            box-sizing: border-box;
            font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica,
              Arial, sans-serif;
            vertical-align: top;
            font-size: 12px;
            text-align: center;
            padding: 20px 0;
          "
          valign="top"
        >
          <span
            class="sg-image"
            data-imagelibrary="%7B%22width%22%3A89%2C%22height%22%3A%2216%22%2C%22alt_text%22%3A%22SendGrid%22%2C%22alignment%22%3A%22center%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//uiux.s3.amazonaws.com/2016-logos/email-logo%25402x.png%22%2C%22link%22%3A%22https%3A//sendgrid.com%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"
            style="float: none; display: block; text-align: center"
            ><a
              href="https://sendgrid.com?utm_campaign=website&amp;utm_source=sendgrid.com&amp;utm_medium=email"
              style="
                box-sizing: border-box;
                color: #16a34a;
                font-weight: 400;
                text-decoration: none;
                font-size: 12px;
              "
              target="_blank"
              ><img
                alt="SendGrid"
                height="16"
                src="https://uiux.s3.amazonaws.com/2016-logos/email-logo%402x.png"
                style="
                  max-width: 100%;
                  border-style: none;
                  font-size: 12px;
                  width: 89px;
                  height: 16px;
                "
                width="89" /></a
          ></span>

          <p
            class="tagline"
            style="
              color: #294661;
              font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica,
                Arial, sans-serif;
              font-size: 12px;
              font-weight: 400;
              margin-bottom: 5px;
              margin: 10px 0 20px;
            "
          >
            Shop and Connect
          </p>

          <p
            style="
              margin: 0;
              color: #294661;
              font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica,
                Arial, sans-serif;
              font-weight: 300;
              font-size: 12px;
              margin-bottom: 5px;
            "
          >
            © Quickbaya Inc. 1801 California Street, Suite 500, Denver, CO 80202
            USA
          </p>

          <p
            style="
              margin: 0;
              color: #294661;
              font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica,
                Arial, sans-serif;
              font-weight: 300;
              font-size: 12px;
              margin-bottom: 5px;
            "
          >
            <a
              href="https://sendgrid.com/blog/?utm_campaign=website&amp;utm_medium=email&amp;utm_source=sendgrid.com"
              style="
                box-sizing: border-box;
                color: #16a34a;
                font-weight: 400;
                text-decoration: none;
                font-size: 12px;
                padding: 0 5px;
              "
              target="_blank"
              >Blog</a
            >
            <a
              href="https://github.com/sendgrid?utm_campaign=website&amp;utm_source=sendgrid.com&amp;utm_medium=email"
              style="
                box-sizing: border-box;
                color: #16a34a;
                font-weight: 400;
                text-decoration: none;
                font-size: 12px;
                padding: 0 5px;
              "
              target="_blank"
              >GitHub</a
            >
            <a
              href="https://twitter.com/sendgrid?utm_campaign=website&amp;utm_source=sendgrid.com&amp;utm_medium=email"
              style="
                box-sizing: border-box;
                color: #16a34a;
                font-weight: 400;
                text-decoration: none;
                font-size: 12px;
                padding: 0 5px;
              "
              target="_blank"
              >Twitter</a
            >
            <a
              href="https://www.facebook.com/SendGrid?utm_campaign=website&amp;utm_source=sendgrid.com&amp;utm_medium=email"
              style="
                box-sizing: border-box;
                color: #16a34a;
                font-weight: 400;
                text-decoration: none;
                font-size: 12px;
                padding: 0 5px;
              "
              target="_blank"
              >Facebook</a
            >
            <a
              href="https://www.linkedin.com/company/sendgrid?utm_campaign=website&amp;utm_source=sendgrid.com&amp;utm_medium=email"
              style="
                box-sizing: border-box;
                color: #16a34a;
                font-weight: 400;
                text-decoration: none;
                font-size: 12px;
                padding: 0 5px;
              "
              target="_blank"
              >LinkedIn</a
            >
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
