@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  gap: 0px;
}

 ::-webkit-scrollbar {
   margin-top: 2px;
   width: 6px;
   height: 8px;
 }

 ::-webkit-scrollbar-track {
   background-color: #ffff;
 }

 ::-webkit-scrollbar-thumb {
background-color: #817c7c9a;
border-radius: 4px;
 }

 ::-webkit-scrollbar-thumb:hover {
  background-color: #817c7c9a;
  width: 4px;
 }

 ::-webkit-scrollbar-corner {
  background-color: #817c7c9a;
 }
 .has-mask {
  position: absolute;
  clip: rect(10px, 150px, 130px, 10px);
}

.rsw-editor{
  height: 200px;
}